
ion-content {
   
    --padding-top: 10%;
    --padding-start: 5%;
    --padding-end: 5%;
    --background: url('https://upload.wikimedia.org/wikipedia/commons/b/b1/Grey_background.jpg') 0 0/100% 100% no-repeat;
}
 
.input-group {
    background: rgb(0, 0, 0);
    border-radius: 10px;
    overflow: hidden;
    margin-top:1px;
}
 
.errors {
    font-size: small;
    color: #fff;
    background: var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
